# dependencies used in all environments

# Non-Python dependencies
# sudo apt-get install python2.7, supervisor, imagemagick

                                   # LICENSE  Python3
beautifulsoup4>=4.11.0,<4.12       # MIT      y
django==6.0.5                      # MIT
django-bootstrap-pagination-forked==1.7.2 # MIT      ???     TODO replace
djangorestframework==3.17.1        # BSD      y
drf-yasg==1.21.15                  # BSD      y
gunicorn==26.0.0                   # MIT
Markdown==3.10.2
redis==7.4.0                       # MIT

git+https://github.com/denshoproject/densho-elastictools.git@v1.0.2

bpython

coverage
pytest
pytest-cov
pytest-django
pytest-testmon
pytest-xdist
