# dependencies used in all environments

# Non-Python dependencies
# sudo apt-get install python2.7, supervisor, imagemagick

                                   # LICENSE  Python3
                                   
beautifulsoup4                     # MIT      y
django>=1.11,<2.0                  # MIT      y
django-bootstrap-pagination        # MIT      ???
django-redis                       # BSD      y
django-redis-cache
django-redis-sessions
djangorestframework                # BSD      y
elasticsearch>=7.0.0,<8.0.0        # Apache   y
elasticsearch-dsl>=7.0.0,<8.0.0    # Apache   y
gunicorn                           # MIT      y
markdown
redis                              # MIT      y

bpython
curtsies
greenlet
pygments

coverage
pytest
pytest-cov
pytest-django
pytest-testmon
pytest-xdist

caniusepython3
future
pylint
