{% extends base_template %}


{% block title %}
About
{% endblock %}

{% block headline %}
About the Resource Guide
{% endblock %}


{% block content %}

<p>The <strong>Densho Resource Guide to Media on the Japanese American Removal and Incarceration</strong> is a directory to over five hundred children's books, literary works, films and videos, plays, curriculum guides, websites and other media that touch on the incarceration and its aftermath. While aimed at educators, we hope the guide will be useful for anyone looking for just the right book, video, or other work on the incarceration.</p>

<p>The impetus for the guide is the outpouring of media on the incarceration topic in the past two decades. There are a number of reasons for this phenomenon, but let me note three interrelated factors: (1) The impact of 9/11 and the subsequent rise of anti-Muslim sentiment reminded many of the hysteria against Japanese Americans after the Japanese attack on Pearl Harbor and generated greater interest in the subsequent history; (2) The subject became more commonly taught in schools and noted in textbooks, leading to many new children's books and curriculum guides; and (3) The presence of government funding for media projects through state and federal Civil Liberties Public Education programs (1998 to the present) and the federal Japanese American Confinement Sites Grant Program (2008 to the present). Even for someone well versed in the topic, it can be overwhelming to try to keep track of all that has come out and that continues to pour out.</p>

<p>The resource guide includes hundreds of entries on both well known and obscure media spanning early works from the 1940s to the present. While we've attempted to be comprehensive, we know that there will inevitably be some works missing, so the guide will continue to be updated.</p>

<p>The guide includes a variety of different types of media, all of which address the removal and incarceration in some way.</p>

{% endblock content %}
