{% extends base_template %}


{% block title %}
About
{% endblock %}


{% block container %}
<div class="basePage">
<div class="row">
          <div class="col-sm-4 col-sm-push-8 col-xs-12">
            <img src="{{ static_url }}img/homeslide/slide1.jpg" alt="image" class="img-responsive img-rounded">
          </div>
          <div class="col-sm-8 col-sm-pull-4 col-xs-12">
              <h1 class="articleTitle color-1">About the Resource Guide</h2>
              <p>The <strong>Densho Resource Guide to Media on the Japanese American Removal and Incarceration</strong> is a directory to hundreds of children's books, literary works, films and videos, plays, curriculum guides, websites and other media that touch on the incarceration and its aftermath. While aimed at educators, we hope the guide will be useful for anyone looking for just the right book, video, or other work on the incarceration.</p>
              <p>The impetus for the guide is the outpouring of media on the incarceration topic in the past two decades. There are a number of reasons for this phenomenon, but let me note three interrelated factors: (1) The impact of 9/11 and the subsequent rise of anti-Muslim sentiment reminded many of the hysteria against Japanese Americans after the Japanese attack on Pearl Harbor and generated greater interest in the subsequent history; (2) The subject became more commonly taught in schools and noted in textbooks, leading to many new children's books and curriculum guides; and (3) The presence of government funding for media projects through state and federal Civil Liberties Public Education programs (1998 to the present) and the federal Japanese American Confinement Sites Grant Program (2008 to the present). Even for someone well versed in the topic, it can be overwhelming to try to keep track of all that has come out and that continues to pour out.</p>
              <p>The resource guide includes hundreds of entries on both well known and obscure media spanning early works from the 1940s to the present. While we've attempted to be comprehensive, we know that there will inevitably be some works missing, so the guide will continue to be updated.</p>
          </div><!-- end overview text col -->
        </div><!-- end content row1 -->
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p>The guide includes a variety of different types of media, all of which address the removal and incarceration in some way:</p>
              <div class="row" style="padding: 20px;">
                  <div class="col-sm-6 col-xs-12">
                      <strong><i class="fa fa-book"></i> Books</strong>
                      <ul class="list-unstyled para-list">
                          <li><i class="fa fa-check" aria-hidden="true"></i> Children's and young adult books, both fiction and non-fiction</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i> Novels and other literary works</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i> Memoirs, both by Japanese Americans and by non-Japanese Americans who worked at one of the camps</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i> Edited collections of letters or journals stemming from the incarceration period</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i> Poetry anthologies that include poems inspired by the incarceration</li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                      <strong><i class="fa fa-film"></i> Films and Video</strong>
                      <ul class="list-unstyled para-list">
                          <li><i class="fa fa-check" aria-hidden="true"></i> Documentary films about the incarceration or related topics</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i> Scripted films, both feature length and shorts, in which the incarceration plays a role</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i> A number of early Hollywood films are included even if the mention of the incarceration is minimal in them</li>
                      </ul>
                  </div>
              </div>
              <div class="row" style="padding: 20px;">
                  <div class="col-sm-6 col-xs-12">
                      <strong><i class="fa fa-file-text"></i> Short Stories</strong>
                      <ul class="list-unstyled para-list">
                          <li><i class="fa fa-check" aria-hidden="true"></i> Includes short stories available in literary journals and anthologies</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i> Stories published in annual holiday editions of Japanese American newspapers, some of which are beginning to come online, including in Densho's Digital Repository</li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                      <strong><i class="fa fa-cubes"></i> Other Media</strong>
                      <ul class="list-unstyled para-list">
                          <li><i class="fa fa-check" aria-hidden="true"></i> Museum Exhibitions</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i> Plays</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i> Websites</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i> Curriculum</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i> Albums</li>
                          <li><i class="fa fa-check" aria-hidden="true"></i> Essays</li>
                      </ul>
                  </div>
              </div>
<section class="countUpSection">
<div class="text-center">
<div class="counter">500</div>
<div class="counterInfo bg-color-1">
Articles
</div>
</div>
</section>
                    <h2>Terms of Use/Privacy Policy</h2>
                    <p><h3>Terms of Use</h3>
                        <h4>Published or Commercial Work</h4>
                        <p>Unless otherwise noted, all content in the Densho Resource Guide is offered for use under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 Unported License  (CC BY-NC-SA 4.0)</a>. For more information, see <a href="#usingandciting">Using and Citing Articles</a>.</p>
                        <p>Some content is the property of third-party owners. Densho is using these materials either by prior arrangement with rights-holders or under the auspices of fair-use doctrine. If you are a rights-holder who believes that your materials are being used improperly, please contact Densho. </p>
                        <h4>Warranties</h4>
                        <p>DENSHO DOES NOT MAKE ANY WARRANTY WHATSOEVER, INCLUDING WITHOUT LIMITATION: THAT THE WEBSITE RESOURCEGUIDE.DENSHO.ORG WILL BE UNINTERRUPTED OR ERROR-FREE; THAT DEFECTS WILL BE CORRECTED; THAT THIS SITE, INCLUDING THE SERVER THAT MAKES IT AVAILABLE, IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE MATERIAL ON THE SITE; OR AS TO THE ACCURACY, RELIABILITY, AVAILABILITY, SUITABILITY, QUALITY, OR OPERATION OF ANY INFORMATION, SOFTWARE, OR SERVICE PROVIDED ON OR ACCESSIBLE FROM THE SITE.</p>
                        <p>THE WEBSITE RESOURCEGUIDE.DENSHO.ORG AND ALL INFORMATION, PRODUCTS AND CONTENT INCLUDED OR ACCESSIBLE FROM THIS SITE ARE PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND (EXPRESS, IMPLIED AND STATUTORY, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF TITLE AND NON-INFRINGEMENT AND THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE), ALL OF WHICH DENSHO DISCLAIMS TO THE FULLEST EXTENT PERMITTED BY LAW. YOUR USE OF ENCYCLOPEDIA.DENSHO.ORG IS AT YOUR SOLE RISK.</p>
                        <h4>Limits of Liability</h4>
                        <p>In no event shall Densho be liable for any direct, indirect, special, incidental, punitive or consequential damages arising out of or related to the use, inability to use, authorized use, performance or nonperformance of this site, even if Densho was previously advised of the possibility of such damages and regardless of whether such damages arise in contract, tort, under statute, in equity, at law or otherwise.</p>
                        <h3>Privacy Policy</h3>
                        <p>Your privacy is important to Densho. Our Privacy Policy is your assurance of our commitment. The resourceguide.densho.org website is owned and operated by Densho, a Washington State not-for-profit corporation. Our address is:
                        </p><address><p>Densho<br />
                            1416 South Jackson St.<br />
                            Seattle, WA 98144<br /></address></p>
                            <p>Densho welcomes comments or questions about its Privacy Policy. Please feel free to <a href="#contact">contact</a> us.</p>
                            <h4>What Personal Information is Collected</h4>
                            <p>Personal Information includes, but is not limited to, usage data, along with the name, telephone number, address, and e-mail address. Densho collects information from our users at several different points on our website:</p>
                            <strong>Cookies, Tracking Codes and Web Traffic Analysis</strong><br />
                            <p>A cookie is a small packet of information that Densho puts on your computer's hard drive whenever a user visits our website. Tracking codes are small pieces of computer code that are passed to your web browser when it requests pages from our website. For each visitor to our website, this allows our servers to automatically recognize the following:</p>
                            <dl><dd>Your IP address which may imply your geographic location</dd>
                                <dd>How you were referred to the website</dd>
                                <dd>The pages you have viewed, how long you spent on the website and when you visited</dd>
                                <dd>Browser type and capabilities (e.g., "Firefox")</dd>
                                <dd>Platform dependant information (e.g., "MacOS 10.6")</dd>
                            </dl>
                            <p>Densho also uses Google Analytics to analyze traffic to this website. This analytic service does not create individual profiles for visitors; it collects only aggregate data. For information about your privacy and Google Analytics, <a  href="https://support.google.com/analytics/answer/6004245?hl=en" target="_blank">click here</a>.</p>
                            <p>In addition, Densho may examine and analyze technical logs created by the servers that operate the website. These logs may contain data similar to that described above.</p>
                            <h4>How the Information is Used</h4>
                            <p>Cookies and tracking codes are used to monitor the traffic on our website so we can determine how content is used and navigated, improve the user experience, and address technical issues with service capacity and availability.</p>
                            <p>Comments are used to revise, correct, update, and evaluate the content of our website.</p>
                            <h4>With Whom Do We Share the Information</h4>
                            <p>Densho does not sell, rent, swap or otherwise disclose any Personal Information to third parties. If Densho is required to disclose information collected from our members in response to any legal process issued by a court, Densho will comply with the legal process after giving notice to any members affected by it unless a court order prohibits such notice.</p>
            </div>
          </div><!-- end content col -->
        </div>
      </div><!-- end content row2 -->
 </div><!-- .row -->
</div>
{% endblock container %}
