{% extends base_template %}


{% block title %}
About
{% endblock %}


{% block container %}
<div class="basePage">
            <h1 class="articleTitle">About the Resource Guide</h1>
    <div class="row">
        <div class="col-sm-4 col-sm-push-8 col-xs-12">
            <img src="{{ static_url }}img/homeslide/slide8.jpg" alt="image" class="img-responsive img-rounded">
            <span class="articleSourceCaption">Children outside barracks. (ddr-densho-37-612)</span>
            <!--
            <section class="countUpSection">
                <div class="text-center">
                    <div class="counter">500</div><br />
                    <div class="counterInfo bg-color-6">Articles</div>
                </div>
            </section>
            -->
        </div>
        <div class="col-sm-8 col-sm-pull-4 col-xs-12">
            
                <h3>Overview</h3>
                <p>The <strong>Densho Resource Guide to Media on the Japanese American Removal and Incarceration</strong> is a directory to hundreds of children's books, literary works, films and videos, plays, curriculum guides, websites and other media that touch on the incarceration and its aftermath. While aimed at educators, we hope the guide will be useful for anyone looking for just the right book, video, or other work on the incarceration.</p>
                <p>The impetus for the guide is the outpouring of media on the incarceration topic in the past two decades. There are a number of reasons for this phenomenon, but let me note three interrelated factors: (1) The impact of 9/11 and the subsequent rise of anti-Muslim sentiment reminded many of the hysteria against Japanese Americans after the Japanese attack on Pearl Harbor and generated greater interest in the subsequent history; (2) The subject became more commonly taught in schools and noted in textbooks, leading to many new children's books and curriculum guides; and (3) The presence of government funding for media projects through state and federal Civil Liberties Public Education programs (1998 to the present) and the federal Japanese American Confinement Sites Grant Program (2008 to the present). Even for someone well versed in the topic, it can be overwhelming to try to keep track of all that has come out and that continues to pour out.</p>
                <p>The resource guide includes hundreds of entries on both well known and obscure media spanning early works from the 1940s to the present. While we've attempted to be comprehensive, we know that there will inevitably be some works missing, so the guide will continue to be updated.</p>
            </div><!-- end overview text col -->
        </div><!-- end content row1 -->
        <div class="row" style="padding-top: 20px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a name="in_the_guide"></a>
                <h3>In the Guide</h3>
                <p>The guide includes a variety of different types of media, all of which address the removal and incarceration in some way:</p>

                <div class="container">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-sm-6 col-xs-12">
                            <div class="media searchResultsList">
                                <span class="media-left bg-color-3" href="#">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                </span>
                                <div class="media-body">
                                    <h4 class="media-heading" style="color: #555;font-size: 18px;">Books</h4>
                                    <i class="fa fa-check" aria-hidden="true"></i> Children's and young adult books, both fiction and non-fiction<br />
                                    <i class="fa fa-check" aria-hidden="true"></i> Novels and other literary works<br />
                                    <i class="fa fa-check" aria-hidden="true"></i> Memoirs, both by Japanese Americans and by non-Japanese Americans who worked at one of the camps<br />
                                    <i class="fa fa-check" aria-hidden="true"></i> Edited collections of letters or journals stemming from the incarceration period<br />
                                    <i class="fa fa-check" aria-hidden="true"></i> Poetry anthologies that include poems inspired by the incarceration
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="media searchResultsList">
                                <span class="media-left bg-color-4" href="#">
                                    <i class="fa fa-film" aria-hidden="true"></i>
                                </span>
                                <div class="media-body">
                                    <h4 class="media-heading" style="color: #555;font-size: 18px;">Films and Video</h4>
                                    <i class="fa fa-check" aria-hidden="true"></i> Documentary films about the incarceration or related topics<br />
                                    <i class="fa fa-check" aria-hidden="true"></i> Scripted films, both feature length and shorts, in which the incarceration plays a role<br />
                                    <i class="fa fa-check" aria-hidden="true"></i> A number of early Hollywood films are included even if the mention of the incarceration is minimal in them
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-sm-6 col-xs-12">
                            <div class="media searchResultsList">
                                <span class="media-left bg-color-5" href="#">
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                </span>
                                <div class="media-body">
                                    <h4 class="media-heading" style="color: #555;font-size: 18px;">Short Stories</h4>
                                    <i class="fa fa-check" aria-hidden="true"></i> Includes short stories available in literary journals and anthologies<br />
                                    <i class="fa fa-check" aria-hidden="true"></i> Stories published in annual holiday editions of Japanese American newspapers, some of which are beginning to come online, including in Densho's Digital Repository
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="media searchResultsList">
                                <span class="media-left bg-color-6" href="#">
                                    <i class="fa fa-cubes" aria-hidden="true"></i>
                                </span>
                                <div class="media-body">
                                    <strong class="media-heading" style="color: #555;font-size: 18px;">Other Media</strong><br />
                                    <i class="fa fa-check" aria-hidden="true"></i> Museum Exhibitions<br />
                                    <i class="fa fa-check" aria-hidden="true"></i> Plays<br />
                                    <i class="fa fa-check" aria-hidden="true"></i> Websites<br />
                                    <i class="fa fa-check" aria-hidden="true"></i> Curriculum<br />
                                    <i class="fa fa-check" aria-hidden="true"></i> Albums<br />
                                    <i class="fa fa-check" aria-hidden="true"></i> Essays
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container" style="padding-top: 20px;">
                    <a name="support_and_funding"></a>
                    <h3>Support and funding</h3>
                    <p>Major funding for the first phase of the Encyclopedia is being provided by grants from the Japanese American Confinement Sites Grant Program, administered by the National Park Service and by the California State Library through the California Civil Liberties Public Education Fund.</p>
                    <img src="https://encyclopedia.densho.org/front/static/img/icon-NPSLogo.gif"  class="img-responsive center-block" alt="NPS Logo">
                    <p>This material is based upon work assisted by a grant from the Department of the Interior, National Park Service. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the Department of the Interior.</p>
                    <p>This material received Federal financial assistance for the preservation and interpretation of U.S. confinement sites where Japanese Americans were detained during World War II. Under Title VI of the Civil Rights Act of 1964, Section 504 of the Rehabilitation Act of 1973, and the Age Discrimination Act of 1975, as amended, the U.S. Department of the Interior prohibits discrimination on the basis of race, color, national origin, disability or age in its federally funded assisted projects. If you believe you have been discriminated against in any program, activity, or facility as described above, or if you desire further information, please write to:</p>
                    <p>
                        Office of Equal Opportunity<br />
                        National Park Service<br />
                        1849 C Street, NW<br />
                        Washington, DC 20240<br />
                    </p>
                </div>
                
                <div class="container" style="padding-top: 20px;">
                    
                    <a name="contact_us"></a>
                    <h3>Contact Us</h3>
                    <p></p>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-sm-6 col-xs-12">
                            <div class="media addressContent">
                                <span class="media-left bg-color-3" href="#">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </span>
                                <div class="media-body">
                                    <h4 class="media-heading">Address</h4>
                                    <p>1416 S. Jackson St.<br />
                                        Seattle, WA 98144<br />
                                        US</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="media addressContent">
                                <span class="media-left bg-color-4" href="#">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </span>
                                <div class="media-body">
                                    <h4 class="media-heading">Email</h4>
                                    <p>info@densho.org or<br />
                                       editor@densho.org</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                
            </div><!-- end content col -->
        </div><!-- end content row2 -->
    </div><!-- .row -->
</div><!-- end basePage -->
{% endblock container %}
