{% extends "rg/base.html" %}


{% block title %}
{{ article.title }}
{% endblock %}

{% block headline %}
{{ article.title }}
{% endblock %}


{% block content %}

{% if article.authors %}
<dl>
  <dt>Authors</dt>
  {% for author in article.authors %}
  <dd>
    <a href="{{ author.html }}">{{ author.title }}</a>
  </dd>{% endfor %}
</dl>
{% endif %}

{% if article.categories %}
<dl>
  <dt>Categories</dt>
  {% for category in article.categories %}
  <dd>
    <a href="{{ category.html }}">{{ category.title }}</a>
  </dd>{% endfor %}
</dl>
{% endif %}

{% if article.topics %}
<dl>
  <dt>Topics</dt>
  {% for topic in article.topics %}
  <dd>
    <a href="{{ topic.html }}">{{ topic.title }}</a>
  </dd>{% endfor %}
</dl>
{% endif %}

{% if article.sources %}
<dl>
  <dt>Sources</dt>
  {% for source in article.sources %}
  <dd>
    <a href="{{ source.html }}">{{ source.title }}</a>
  </dd>{% endfor %}
</dl>
{% endif %}

{{ article.body|safe }}

{% endblock content %}
