{% extends "rg/base.html" %}
{% load bootstrap_pagination %}


{% block title %}
Articles
{% endblock %}

{% block headline %}
Articles
{% endblock %}


{% block content %}

<div id="item-count">
  {{ num_articles }} articles<br/>
</div>

<div id="contents">
  {% for initial in initials %}
  <a href="#{{ initial }}">{{ initial }}</a>
  {% endfor %}
</div>



<div class="article-list">
  {% for initial,articles in groups %}
  <a name="{{ initial }}"></a>
  <h2>{{ initial }}</h2>
  {% for article in articles %}
    <a href="{{ article.links.html }}">{{ article.id }}</a><br/>
  {% endfor %}
  {% endfor %}
</div>

{% endblock content %}
