{% extends base_template %}


{% block title %}
Browse
{% endblock %}


{% block container %}
<div class="basePage">
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    
<h1 class="articleTitle">Browse</h1>

<table class="table table-responsive table-sm table-hover">
  <caption><h4 style="color: #999;">Explore articles in the guide through a variety of different facets.</h4></caption>
  <tr>
      <th>
          <div class="media searchResultsList">
            <span class="media-left bg-color-2">
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
            </span>
          </div>
    </th>
    <th>
      <h2 class="browseFacetTitle color-2"><a class="browse browseFacetTitle color-2" href="{% url 'rg-articles' %}">Title</a></h2>
    </th>
    <td>
      <div style="font-weight: 600;">Full article list sorted by title.</div>
    </td>
  </tr>
  {% for item in databox_fields %}
  {% if item.title != 'Teaching Aids' and item.title != 'Free Web Version' %}
  <tr>
    <th>
          <div class="media searchResultsList">
            <span class="media-left bg-color-2">
                <i class="fa {{ item.icon }}" aria-hidden="true"></i>
            </span>
          </div>
    </th>
    <th>
      <h2 class="browseFacetTitle color-2"><a class="browse browseFacetTitle color-2" href="{{ item.html }}">{{ item.title }}</a></h2>
    </th>
    <td>
      <div style="font-weight: 600;">{{ item.description }}</div>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
</table>

  </div>
</div><!-- .row -->
</div>
{% endblock container %}
