{% extends "rg/base.html" %}


{% block title %}
{{ value }}
{% endblock %}

{% block headline %}
{{ value }}
{% endblock %}


{% block breadcrumbs %}
<ul>
  <li>
    <a href="{% url "rg-browse" %}">Browse</a>
  </li>
  <li>
    <a href="{% url "rg-browse-field" fieldname %}">{{ field_title }}</a>
  </li>
  <li>
{{ value }}
  </li>
</ul>
{% endblock breadcrumbs %}


{% block content %}

{% for object in query.objects %}
<a href="{{ object.links.html }}">{{ object.id }}</a>
<br/>
{% endfor %}

{% endblock content %}
