{% extends base_template %}


{% block title %}
Browse
{% endblock %}


{% block container %}
<div class="row">
  <div class="col-md-9 col-sm-8 col-xs-12">
    
<h1>Browse</h1>

<table class="table table-responsive table-sm table-hover">
  <caption>Browse articles by various criteria</caption>
  <tr>
      <th>
          <span class="iconBlock"><i class="fa fa-sort-alpha-asc"></i></span>
    </th>
    <th>
      <a href="{% url 'rg-articles' %}">Title</a>
    </th>
    <td>
      Full article list sorted by title.
    </td>
  </tr>
  {% for item in databox_fields %}
  <tr>
    <th>
      <span class="iconBlock"><i class="fa {{ item.icon }}"></i></span>
    </th>
    <th>
      <a href="{{ item.html }}">{{ item.title }}</a>
    </th>
    <td>
      {{ item.description }}
    </td>
  </tr>
  {% endfor %}
</table>

  </div>
</div><!-- .row -->
{% endblock container %}
